*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
    --font1: 'Inter', sans-serif;
    --cor1: hsl(35, 77%, 62%);
    --cor2: hsl(5, 85%, 63%);
    --cor3: hsl(36, 100%, 99%);
    --cor4: hsl(233, 8%, 79%);
    --cor5: hsl(236, 13%, 42%);
    --cor6: hsl(240, 100%, 5%);
}

.clear{
    clear: both;
}

body{
    max-width: 1275px;
    min-width: 375px;
    margin: auto;
    font-size: 15px;
    font-family: var(--font1);
    background-color: var(--cor3);
}

header{
    padding-top: 60px;
    padding-bottom: 40px;
}

header img{
    float: left;
}

header nav{
    float: right;
    padding-top: 10px;
}

header a{
    color: black;
    text-decoration: none;
    padding-left: 50px;
}

header a:hover{
    color: var(--cor1);
}

.main1{
    max-width: 890px;
    float: left;
    margin-bottom: 10px;
}

.main1 img{
    max-width: 100%;
}

.main1-2{
    max-width: 400px;
    float: left;
    margin-top: 20px;
}

.main1-2 h2{
    font-size: 4em;
    line-height: 60px;
    font-weight: 800;
}

.main1-2.kop{
    margin-left: 100px;
    font-size: 1.1em;
}

.main1-2.kop{
    max-width: 350px;
}

.main1-2.kop a{
    background-color: var(--cor2);
    font-variant: small-caps;
    color: white;
    padding: 15px 40px;
    line-height: 140px;
    letter-spacing: 2px;
    text-decoration: none;
}

.main1-2.kop a:hover{
    background-color: var(--cor6);
}

.news1{
    max-width: 320px;
    margin-left: 25px;
    float: left;
    font-variant: small-caps;
    background-color: var(--cor6);
    color: white;
    padding: 40px 20px 40px 20px;
}

.news1 h1{
    color: var(--cor1);
    font-size: 3em;
    padding-bottom: 30px;
}

.news1 h2{
    font-size: 1.4em;
    padding-bottom: 20px;
}

.news1 h2:hover{
    color: var(--cor1);
}

.news1 p{
    color: var(--cor4);
}

.news1 hr{
    margin-bottom: 40px;
    margin-top: 40px;
}

.side1{
    float: left;
}

.side1-2{
    float: left;
    width: 350px;
}

.side1-2 img{
    float: left;
    margin-right: 20px;
    max-width: 110px;
}

.side1-2 h2{
    font-size: 2.5em;
    color: var(--cor4);
    padding-bottom: 10px;
}

.side1-2 h3{
    width: 400px;
    padding-bottom: 10px;
    font-weight: 800;
}

.side1-2 h3:hover{
    color: var(--cor2);
}

.side1-2 p{
    max-width: 345px;
    font-size: 14px;
    line-height: 25px;
    color: var(--cor5);
    font-weight: bold;
}

.side1-2.kip{
    margin-right: 107px;
}

footer{
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    margin-top: 50px;
}

footer a{
    color: var(--cor1);
}